@model IEnumerable<Terminal.WebUI.Models.BoletosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-4">
                                    <strong><span style="font-family: Cooper; color: indigo; font-size: xx-large;">Boletos</span></strong>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-5"></div>
                                <div class="col-4">
                                    <p><a asp-action="Create" class="btn btn-outline-primary">Nuevo registro</a></p>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table text-nowrap table-striped table-hover dataTables-example" id="DataTable">
                            <thead class="bg-cyan-400">
                                <tr class="text-dark">
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_ID)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_clie_Nombre_Completo)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_hora_Origen_Nombre)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_hora_Destino_Nombre)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_Fecha)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.comp_Nombre)</th>
                                    <th class="text-dark">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                @foreach (var item in Model)
                                {
                                    <tr role="row" data-id="@item.bole_ID" class="text-dark align-text-bottom even">
                                        <td >@Html.DisplayFor(modelItem => item.bole_ID)</td>
                                        <td >@Html.DisplayFor(modelItem => item.bole_clie_Nombre_Completo)</td>
                                        <td >@Html.DisplayFor(modelItem => item.bole_hora_Origen_Nombre)</td>
                                        <td >@Html.DisplayFor(modelItem => item.bole_hora_Destino_Nombre)</td>
                                        <td >@Html.DisplayFor(modelItem => item.bole_Fecha)</td>
                                        <td >@Html.DisplayFor(modelItem => item.comp_Nombre)</td>
                                        <td >
                                            <a asp-action="Details" asp-route-id="@item.bole_ID" class="btn btn-outline-success btn-sm">Detalles</a> |
                                            <a asp-action="Edit" asp-route-id="@item.bole_ID" class="btn btn-outline-warning btn-sm">Editar</a> |
                                            <button class="btn btn-outline-danger btn-sm" id="btnEliminar" onclick="eliminar('@item.bole_ID')">Eliminar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="bg-cyan-400">
                                <tr class="text-dark">
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_ID)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_clie_Nombre_Completo)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_hora_Origen_Nombre)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_hora_Destino_Nombre)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.bole_Fecha)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.comp_Nombre)</th>
                                    <th class="text-dark">Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        })
    </script>

    ViewBag.Script = null;
}

@Html.Partial("_Modal_Delete", new Terminal.WebUI.Models.BoletosViewModel())
