@model IEnumerable<Terminal.WebUI.Models.TerminalesViewModel>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card border-5">
    <div class="card-header">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-3">
                <h1>Detalles</h1>
            </div>
            <div class="col-4"></div>

        </div>
    </div>
    <div class="card-body align-content-xl-center">
        @foreach (var item in Model)
        {
            <div class="row mt-1">

                <div class="col-1"></div>
                <div class="col-4">
                    <div class="form-group">
                        <h5>ID :</h5>
                        <label class="text-dark">@Html.DisplayFor(modelItem => item.term_ID)</label>
                    </div>
                </div>

                <div class="form-group col-3">
                    <h5>Departamento :</h5>
                    <label class="text-dark">@Html.DisplayFor(modelItem => item.dept_Descripcion)</label>
                </div>

                <div class="form-group col-4">
                    <h5>Municipio :</h5>
                    <label class="text-dark">@Html.DisplayFor(modelItem => item.muni_Descripcion)</label>
                </div>
            </div>
            <div class="row mt-3">

                <div class="col-1"></div>

                <div class="form-group col-4">
                    <h5>Nombre :</h5>
                    <label class="text-dark">@Html.DisplayFor(modelItem => item.term_Nombre)</label>
                </div>

                <div class="form-group col-3">
                    <h5>Dirección exacta :</h5>
                    <label class="text-dark">@Html.DisplayFor(modelItem => item.term_DireccionExacta)</label>
                </div>

                <div class="form-group col-4">
                    <h5>Cantidad de transportes :</h5>
                    <label class="text-dark">@Html.DisplayFor(modelItem => item.term_CantidadTransportes)</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-9 mt-3"></div>
                <div class="form-group col-1 mt-3">
                    <a asp-action="Edit" asp-route-id="@item.term_ID" class="btn btn-warning btn-sm">Editar</a>
                </div>
                <div class="form-group col-1 mt-3">
                    <a asp-action="Index" class="btn btn-dark btn-sm">Regresar</a>
                </div>
            </div>

        }
        <div style="height:20px"></div>
        <div class="card">
            <div class="card-header"><h2>Auditoría</h2></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><label>Creación</label></td>
                            <td>@Html.DisplayFor(modelItem => item.term_UsuarioCreador_Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.term_FechaCreacion)</td>
                        </tr>
                        <tr>
                            <td><label>Modificación</label></td>
                            <td>@Html.DisplayFor(modelItem => item.term_UsuarioModificador_Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.term_FechaModificacion)</td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


